<config>
	<ServerId>103</ServerId>
	<ServerIP>18.139.18.18</ServerIP>
	<SecretKey>dkjfiejlsjdkfjslf</SecretKey>
	<EmailAddress>admin@itsolutionmm.xyz</EmailAddress>
	<Password>-</Password>
	<SmtpAddress>smtp.titan.email</SmtpAddress>
	<IpPrefix>192.168.42.</IpPrefix>
	<SaveDir>/home/ubuntu/client/</SaveDir>
	<APIUrl>http://18.178.57.209:8999/VPNAPIService.svc?wsdl</APIUrl>
</config>
